<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Prfile</title>
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family:'Times New Roman', Times, serif;
            }

            body {
                width: 100vw;
                min-height: 100vh;
                height: auto;
                display: flex;
                
            }
            textarea {
                width: 95vw;               
                display: block;
                height: 150px;
            }
            input,
         
            .conatiner {
                margin: 20px 10px;
            }
            
            #logout{
                text-decoration: none;
                background-color: red;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
            }

            #SwitchUser{
                text-decoration: none;
                background-color: green;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
            }
            .submit{
                background-color: blue;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
                margin-top: 10px;
            }
           
            .btns{
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
            }
            #textaria{
                padding: 10px;
            }
            #time{
                font-size: 15px;
                margin-top: 10px;
                color: rgb(78, 75, 75);
            }
            #delete{
                text-decoration: none;
                text-decoration: none;
                background-color: red;
                color: white;
                padding: 5px 20px;
                border-radius: 50px;
                border: 1px solid gray;
            }
            .small{
                display: inline-block ;
                margin-top: 10px;
                color: rgb(31, 171, 31);
            }

            h3{
                margin: 10px 0px ;
            }
        </style>
    </head>
    <body>
        <div class="conatiner">
            <div class="logout">
                <a  id="logout" href="/logout">Logout</a>
                <a  id="SwitchUser" href="/login">Switch User</a>
            </div>
            <h3>Update Your Post.</h3>
            <div class="text">
                <form action="/post" method="post">
                    <textarea
                    placeholder="Write here your post"
                    name="postContent"
                    id="textaria"
                > <%= post.postContent %> </textarea>
                <input class="submit" type="submit" value="Update Post" />
                </form>
                
            </div>
        </div>

    </body>
</html>
