<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Avinash </title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            
        }

        nav{
            background-color: gray;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            height: 60px;
        }
        .logo{
            font-size: 25px;
            color: white;
        }

        a{
            text-decoration: none;
            font-size: 20px;
            margin-right: 5px;
            background-color: rgb(32, 32, 133);
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
        }
        main{
            padding: 10px 100px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Avinash</h1>
            </div>
            <div class="link">
                <a href="/register">Registor</a>
                <a href="/login">Login</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>Avinash Sharma</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate magnam soluta suscipit sunt praesentium reiciendis quas ut ratione dolore quis commodi, provident aperiam. Rem fugiat quaerat sapiente officiis quis, asperiores, accusamus, error corporis dicta enim harum quia tempora dignissimos? Fugiat quis, velit repudiandae ipsa temporibus deleniti eius modi ducimus illum porro. Totam cupiditate quis dicta enim, nulla quos optio harum soluta in modi quo nihil obcaecati magnam, delectus nisi impedit ad maiores doloribus accusamus eligendi autem? Voluptatibus, quasi voluptates? Numquam, laborum, doloribus sed animi dolorum itaque porro tempora repellat optio vero eveniet architecto et fugiat voluptas nam, ad ut. Animi est ea fugiat accusamus ratione nesciunt minus, vitae dicta sapiente consequatur aliquam provident maxime aut minima officiis ipsa cumque fuga sequi assumenda delectus eaque accusantium repellendus hic dolor. Veritatis illo, neque accusamus nihil provident asperiores inventore. Fugit ut cum autem inventore corporis eveniet nesciunt molestiae ex, eius optio dolore quas nostrum, mollitia explicabo aperiam vitae assumenda ipsam praesentium tempore dolores doloribus! Enim, odit ducimus neque recusandae ipsum laudantium dolor commodi omnis debitis unde provident, quam cum quisquam nemo! Voluptate recusandae ad repellat aspernatur odit perferendis neque. Sit dicta, velit corporis ea accusantium aliquid nam voluptatum architecto, eum neque maiores minus blanditiis! Ullam pariatur deleniti ea, eos sit ipsam inventore suscipit consequatur ab optio minima, error, nobis illum quos soluta magni ex odit animi culpa. Consequuntur consequatur doloremque totam nam! Ex quae distinctio nisi repellendus autem illo temporibus a perferendis doloribus, quos commodi maiores, debitis esse sequi deserunt, sint quibusdam facilis cupiditate at. Hic voluptatem ex beatae. Incidunt necessitatibus nostrum quibusdam magnam numquam distinctio. Necessitatibus distinctio aliquid voluptatem quibusdam autem illo. Porro possimus exercitationem laborum recusandae modi ipsam maiores excepturi molestiae. Eum rem magnam aliquam veritatis. Incidunt itaque repudiandae error. Eos voluptate modi officiis consequuntur perspiciatis atque quos, autem quibusdam. Vel id repellat explicabo quisquam, saepe animi illum impedit ipsa, qui, reiciendis possimus assumenda! At ab laboriosam blanditiis voluptatum dolorum minus dignissimos. Voluptatibus est, ipsum incidunt autem nobis dolor nemo cumque harum ipsa eos repellat in facere minima mollitia modi beatae. Quaerat error officia odio pariatur ad eaque recusandae nihil molestias assumenda consequuntur odit dignissimos molestiae, fugit quidem saepe totam dolor esse. Quam, consequatur. Delectus temporibus aspernatur dolore accusamus a quis, quisquam praesentium magnam qui iusto laborum quaerat. Quis officiis blanditiis id doloribus eligendi ipsum aperiam nam perferendis quia adipisci. Atque laudantium delectus quis molestiae quidem nihil recusandae, quasi quisquam minima iusto deleniti voluptate soluta molestias voluptatibus in deserunt sapiente commodi quo non perspiciatis earum saepe. Itaque impedit nobis corrupti placeat vero! Architecto ipsam quisquam quo excepturi soluta. Natus saepe corporis optio, quia aspernatur voluptatem ipsum repudiandae a doloremque dignissimos minus reprehenderit. Reprehenderit similique aliquid quis magnam, impedit rerum cupiditate corporis iste ea voluptas, nesciunt sapiente veritatis dolore voluptatem odio perferendis aliquam beatae? Explicabo sint doloribus earum aspernatur sequi laborum fugiat libero quos perspiciatis aut, sit accusantium enim eius praesentium, eum porro repellendus, iure culpa ipsam? Mollitia numquam, recusandae quas accusantium, rem amet, eligendi est cumque non hic excepturi. Perferendis.</p>
    </main>
</body>
</html>