<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Page</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        h1{
            font-size: 30px;
        }
        nav{
            background-color: gray;
            width: 100vw;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            padding-right: 15px;

        }
        main{
            padding: 0px 100px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Avinash</h1>
            </div>
            <div class="link">
                <a href="/">Home</a>
                <a href="/create">Create User</a>
                <a href="/login">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque consequuntur, id quia assumenda totam aut commodi vero aliquam, ut dolorum porro debitis, mollitia quibusdam deserunt tempore vitae animi necessitatibus earum quis atque nulla! Amet labore, voluptatum quae perferendis explicabo, quaerat, cumque sed distinctio tempora dolores ipsum! Non molestiae, deleniti, quod necessitatibus atque corporis doloremque sunt laboriosam voluptas animi ratione veritatis fugit? Deleniti corporis voluptate atque soluta. Eos nulla officia dicta quasi beatae, minima aut, quae aliquid quis aliquam inventore, odit exercitationem reprehenderit. Aliquam saepe consequatur suscipit culpa vitae. Corrupti sunt eos vitae, obcaecati doloremque cupiditate sed eveniet ipsa, mollitia quos tenetur fugiat! Ratione dicta minus consectetur eaque rerum, pariatur exercitationem ipsam. Suscipit cupiditate qui fuga minima nemo eligendi nam impedit magni, asperiores eos ea tempora illo repellat corrupti voluptas sapiente nihil temporibus eaque sequi. Reprehenderit eligendi magnam earum excepturi ea est, dolorum explicabo dolorem repellat modi recusandae sunt consectetur. Omnis laudantium neque pariatur nisi sapiente commodi magni magnam tenetur accusantium suscipit deleniti mollitia adipisci perferendis a ducimus, reiciendis vero molestias vitae iste animi. Harum facilis sequi repudiandae excepturi ipsa ea tempore culpa, distinctio quae quam repellat nihil suscipit minus itaque quasi ducimus officiis sapiente reiciendis dolorum perspiciatis voluptas non. Aliquid, eveniet placeat repudiandae deleniti praesentium laborum esse doloribus enim facere quas mollitia repellendus, inventore possimus! Adipisci laborum possimus deleniti odit, autem eveniet hic atque, numquam doloremque quis magnam officiis quia veritatis cupiditate saepe! Aperiam ducimus delectus non asperiores veritatis minima nihil. Animi eaque eum harum et iure, autem delectus maxime nulla id ad necessitatibus quidem molestias numquam aperiam! Fugit, accusamus sed adipisci molestias sapiente enim architecto ut, aperiam, impedit odit suscipit cumque inventore maiores a consequatur saepe porro illo dignissimos harum. Dolore nihil, ipsam at deserunt officia nam inventore sint, quod fugit ipsa sunt rerum quisquam aliquam quidem ipsum minima soluta eaque perspiciatis assumenda hic velit. Eum minus corrupti magnam ab ratione veritatis dicta dolor deserunt obcaecati at, voluptatibus autem laborum perferendis, sit officiis consequatur veniam nostrum animi qui atque distinctio ut. Exercitationem optio mollitia officia nulla, delectus consectetur perspiciatis incidunt repudiandae eaque quos, unde laudantium facere atque explicabo corrupti tempora dolores earum aliquid. Aut totam explicabo natus beatae ducimus recusandae eligendi sunt impedit minima praesentium magni placeat quasi enim incidunt molestias doloribus, laboriosam voluptatum ut in. Saepe laudantium ipsam nemo rem. Perspiciatis tempore aspernatur, aliquam incidunt repellendus, sit molestias eius odit tempora laborum ullam quasi commodi dolorum sapiente. Natus, velit. Accusamus fugiat sunt laboriosam mollitia praesentium suscipit odio qui consequuntur quos itaque error tenetur, asperiores harum quasi nisi a vitae fugit, reiciendis exercitationem ratione quaerat molestiae perspiciatis dignissimos veritatis? Eius, cum! Laudantium rerum ullam, nemo voluptas ea eius? Esse aperiam laboriosam inventore deleniti ad similique culpa necessitatibus eos voluptates, molestias expedita asperiores, nulla cum temporibus qui, velit blanditiis nostrum. Fugiat nobis pariatur esse blanditiis non facilis autem repellendus, minima quos nesciunt enim aperiam deserunt dolores rerum a officia nostrum veritatis saepe, commodi numquam temporibus. Vitae cum minima quidem repellat neque accusamus perspiciatis doloribus et a odio dolore, nostrum eveniet.</p>
    </main>
</body>
</html>